In [4]:
#11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.
import zoo
zoo.hours()

Open 9-5 daily

In [5]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [1]:
#16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS books')

cur.execute('''
    CREATE TABLE books (
        title  TEXT,
        author TEXT,
        year   INTEGER
    )
''')

conn.commit()
conn.close()

In [2]:
import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS books')  # optional, to start clean

cur.execute('''
    CREATE TABLE books (
        title  TEXT,
        author TEXT,
        year   INTEGER
    )
''')

conn.commit()
conn.close()

In [3]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

with open('books2.csv', newline='') as f:
    reader = csv.DictReader(f)
    for row in reader:
        cur.execute(
            'INSERT INTO books (title, author, year) VALUES (?, ?, ?)',
            (row['title'], row['author'], int(row['year']))
        )

conn.commit()
conn.close()

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

for row in cur.execute('SELECT title FROM books ORDER BY title'):
    print(row[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [5]:
import sqlite3

conn = sqlite3.connect('books.db')
cur = conn.cursor()

for row in cur.execute('SELECT title, author, year FROM books ORDER BY year'):
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [7]:
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine('sqlite:///books.db')
conn = engine.connect()

metadata = MetaData()
books = Table('books', metadata, autoload_with=engine)

stmt = select(books.c.title).order_by(books.c.title)

for row in conn.execute(stmt):
    print(row.title)

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!